>> CUDA enabled devices in the system: 1
>> Compute capability: 8.9
>> Max grid size: (2147483647, 65535, 65535)
>> Max block size: 1024
>> Number of SMs: 58
>> Clock rate of the SMs (in kHz): 1440000
>> Max threads dimension: (1024, 1024, 64)
>> Max threads per SM: 1536
>> Registers available per block: 65536
>> Registers available per SM: 65536
>> Warp size (threads per warp): 32
>> Shared memory size per block: 49152 bytes
>> Shared memory size per SM: 102400 bytes
>> L2 cache size: 50331648 bytes
>> Memory bus width: 192 bits
>> Memory clock rate: 9001000 KHz
>> Theoretical Max GFLOPS: 21381.12
>> Maximum Memory Bandwidth: -104.82 GB/s
